* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.5s;
}

:root {
  --bg-color: #f5f7fe;
  --light-blue: #418bca;
  --main-blue: #1e599f;
  --bg-color: #f5f7fe;
}
body {
  background-color: var(--bg-color);
  font-family: "Cairo", sans-serif;

  /* justify-content: center;
  align-items: center; */
  /* min-height: 100vh; */
}

nav {
  position: fixed;
  width: 100%;

  background: var(--bg-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0px 20px;
}
ul {
  list-style-type: none;
}
.item a {
  color: var(--main-blue);
  text-decoration: none;
  font-size: 16px;
  padding: 5px 22px;
  border-radius: 15px;
}

.item .selected {
  background-color: var(--light-blue);
  color: #fff;
}

.item a:hover {
  transition: all ease 0.25s;
  background-color: var(--light-blue);
  color: #fff;
}

.logo-img {
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 10px;
  height: 20px;
}

.menu li {
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
}
.toggle a {
  font-size: 20px;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.toggle {
  order: 1;
}
.item {
  width: 100%;
  text-align: center;
  order: 2;
  display: none;
}
.item.active {
  display: block;
}
.logo img {
  width: 90px;
}
/* Navbar Toggle */
.toggle {
  cursor: pointer;
}
.bars {
  background: var(--main-blue);
  display: inline-block;
  height: 2px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: var(--main-blue);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}

/* Tablet menu */
@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
    width: 70%;
  }
}

/* Desktop menu */
@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .logo img {
    width: 130px;
  }
  .item {
    order: 1;
  }
  .menu li {
    padding: 15px 10px;
  }
}
/* ======================================================================== */
header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: blueviolet; */
  /* justify-content: space-between; */
  align-items: center;
}

header .side-image {
  /* background-color: turquoise; */
  max-width: 800px;
  width: 100%;
}

header .header-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: yellowgreen; */
  padding: 20px 50px;
}

.header-title{
  font-size: 3.5em;
  font-weight: 600;
  padding: 5px 0px;
}

.header-subtitle{
  font-size: 1.5em;
  font-weight: 500;
  padding: 5px 0px;
}

header button{
  background-color: var(--light-blue);
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 50px;
  margin-top: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}

.social-links {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-links a {
  padding: 0px 10px;
}
.social-links a:hover {
  transition: all ease 0.2s;
  color: var(--main-blue);
  transform: scale(1.5);
}

.social-links a {
  color: var(--light-blue);
  font-size: 1.5em;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
}
